{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur AntoniStore !{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

<div class="container mt-5">
    <h1 class="text-center">Bienvenue sur AntoniStore !</h1><br>
    <br>
    <br>
    <h3 class="text-center"> Le site de vente qui repondra a vos attentes !</h3>



{% endblock %}
