{% extends 'base.html.twig' %}

{% block title %}Besoin d'aide ?{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

<div class="container mt-5">
    <h1 class="text-center">Besoin d'aide contactez-nous</h1> <br>
   <p class="text-center"> Numéro disponible 24h/24h 7/7j : 012312323</p> <br>
     <p class="text-center">    Mail : antonistore@support.com </p>

{% endblock %}